/* General Reset */
body {
  margin: 0;
  font-family: "Courier New", monospace;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

header .logo-title {
  flex: 2 1 auto;
  text-align: left;
}

header .search-bar {
  flex: 3 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}

header .search-bar input {
  padding: 5px;
  margin-right: 10px;
  width: 40%;
}

header .search-bar .icon {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
}

.menu-button {
  flex: 0 1 auto;
  display: none;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Menu Styles */
.menu {
  background-color: #007bff;
  width: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: right;
  flex-wrap: wrap;
}

.menu ul li {
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.menu ul li a:hover {
  background-color: #0056b3;
}

.menu ul.active {
  display: block;
  background-color: #333;
}

/* Content */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.project a {
  color: white; /* Cambia este color al que desees */
  text-decoration: none; /* Elimina el subrayado */
}

.project a:hover {
  color: #ff4500; /* Este color se muestra cuando el enlace es hover */
}
.social-media a {
  color: white; /* Cambia este color al que prefieras */
  text-decoration: none; /* Elimina el subrayado */
}

.social-media a:hover {
  color: #ff4500; /* Este será el color cuando el enlace se pase por encima */
}
.card {
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.card.publicidad {
  grid-column: span 2;
  width: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

/* Responsive Design */

/* Pantallas entre 675px y 1024px */
@media (min-width: 675px) and (max-width: 1024px) {
  .menu-button {
    display: none;
  }

  .menu ul {
    display: flex;
  }

  header .search-bar input {
    display: block;
  }

  header .search-bar .icon {
    display: none;
  }
}

/* Pantallas menores a 675px */
@media (max-width: 674px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo-title {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  header .search-bar {
    order: 2;
    width: 100%;
    justify-content: flex-end;
  }

  header .search-bar input {
    display: none; /* Oculta el campo de entrada */
  }

  header .search-bar .icon {
    display: block; /* Muestra solo el icono */
  }

  header .menu-button {
    order: 3;
    display: block;
    padding: 5px 10px;
    align-self: flex-end; /* Alinea el botón a la derecha */
  }

  .menu ul {
    display: none;
  }

  .menu ul.active {
    display: flex;
    flex-direction: column;
  }
}

/* Pantallas menores a 375px */
@media (max-width: 375px) {
  .content {
    padding: 10px;
  }

  .menu ul {
    width: 100%;
  }

  .card.publicidad {
    grid-column: span 1;
  }
}
